body{
	background-color: lightblue; 
	border: 2px solid black; 
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

}

div {
	
	border : 10px;
	margin :6px;
	padding: 10px;
}
details{
	background-color: #87CEFA ;
	margin : 1rem 1rem;
	border-radius: 11px;
	padding : 20px 10px 20px 30px;

}
summary{
	cursor: pointer;
}

